@page
@model IndexModel
@{
    ViewBag.Title = "Home";
}
<div class="d-flex justify-content-center align-items-center w-100">
    <div class="border-0 call-to-action-container position-absolute d-none d-md-block" style="z-index:3;" data-aos="fade-up"
     data-aos-duration="1500">
        <div class="text-center">
            <a class="btn btn-lg px-5 text-uppercase text-white" href="https://calendly.com/ohmyglass/free-estimate">Book Now</a>
        </div>
        <h3 class="text-light text-uppercase mt-5 text-center mx-3 animate__animated animate__bounce">You are just few clicks away towards a better view</h3>
        <p class="lead text-light text-center animate__animated animate__bounce">Book for free estimate now!</p>
    </div>
    <div id="beer-slider" class="beer-slider w-100" data-beer-label="after" data-beer-start="25">
        <img src="~/img/toronto.jpeg" alt="Blur Glass">
        <div class="beer-reveal h-100" data-beer-label="before">
            <img src="~/img/toronto2.jpg" alt="Toronto">
        </div>
    </div>
</div>
<div class="call-to-action-container bg-white d-sm-block d-md-none text-center py-5" style="z-index:20;" >
    <div class="text-center">
        <a class="btn text-light btn-lg px-5 text-uppercase shadow" data-aos="fade-up" href="https://calendly.com/ohmyglass/free-estimate"
     data-aos-duration="1500">Book Now</a>
    </div>
    <h3 class="text-uppercase text-dark mt-5 text-center mx-3 " data-aos="fade-up"
     data-aos-duration="1500">You are just few clicks away towards a better view</h3>
    <p class="lead text-center" data-aos="fade-up"
     data-aos-duration="1500">Book for free estimate now!</p>
</div>
<div class="bg-light p-5">
    <div class="card rounded-0 border-0 mb-3" data-aos="fade-up" data-aos-duration="1500">
        <div class="card-body text-center">
            <h1 class="card-title text-uppercase font-weight-bold">CLEAR CUT QUALITY</h1>
            <p class="card-text lead">We are your one stop shop for any of your glass servicing needs, 
                from broken windows to glass upgrades! We do quality and reliable glass replacements and installations for your residential homes or commercial spaces, 
                making sure to leave you in awe with "Oh! My glass!".</p>
                <small> For more visuals, keep scrolling</small>
        </div>
    </div>
</div>
<div id="our_services" class="our-services">
    <h1 class="text-uppercase text-center font-weight-bold my-5" data-aos="zoom-in" data-aos-duration="1500">Our Services</h1>
    <div class="d-flex flex-wrap justify-content-center mb-5">
        <div class="m-3 mb-5" data-aos="zoom-in-left" data-aos-duration="1500">
            <h5 class="text-light text-center text-uppercase">Broken Glass Replacement</h5>
            <div class="card card-transparent text-center">
                <div class="card-body">
                    <div class="card-transparent-icon">
                        <i class="fas fa-door-open"></i>
                    </div>
                    <p class="card-text">A new thermal glass unit is great for energy efficiency saving you money in the long run</p>
                </div>
            </div>
        </div>
        <div class="m-3 mb-5" data-aos="zoom-in-right" data-aos-duration="1500">
            <h5 class="text-light text-uppercase text-center">Shower</h5>
            <div class="card card-transparent text-center">
                <div class="card-body">
                    <div class="card-transparent-icon">
                        <i class="fas fa-shower"></i>
                    </div>
                    <p class="card-text">Custom frameless shower glass enclosures creates an open concept for the shower space </p>
                </div>
            </div>
        </div>
        <div class="m-3 mb-5" data-aos="zoom-in-left" data-aos-duration="1500">
            <h5 class="text-light text-uppercase text-center">Storefront</h5>
            <div class="card card-transparent text-center ">
                <div class="card-body">
                    <div class="card-transparent-icon">
                        <i class="fas fa-store-alt"></i>
                    </div>
                    <p class="card-text">With clear and seamless glass to look into, more people will be able to see what the inside of the store offers</p>
                </div>
            </div>
        </div>
        <div class="m-3 mb-5" data-aos="zoom-in-right" data-aos-duration="1500">
            <h5 class="text-light text-uppercase text-center">Custom Glass Partition</h5>
            <div class="card card-transparent text-center">
                <div class="card-body">
                    <div class="card-transparent-icon">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                    <p class="card-text">Great way to divide up a space without feeling confined</p>
                </div>
            </div>
        </div>
        <div class="m-3 mb-5" data-aos="zoom-in" data-aos-duration="1500">
            <h5 class="text-light text-uppercase text-center">Porch Enclosure</h5>
            <div class="card card-transparent text-center">
                <div class="card-body">
                    <div class="card-transparent-icon">
                        <i class="fas fa-archway"></i>
                    </div>
                    <p class="card-text">The outdoor feel without the bugs, rain, or sunburn</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bg-light">
    <div class="card bg-light rounded-0 border-0 mb-3 m-5">
        <div class="card-body text-center" data-aos="zoom-in" data-aos-duration="1500">
            <h1 class="card-title text-uppercase font-weight-bold">The Team</h1>
            <p class="card-text lead">We are Young and Professional.</p>
            <p class="card-text">We might look very young but we are trained by the best in the industry. We are looking to grow our team across GTA.</p>
        </div>
    </div>
</div>
<div class="bg-white p-5">
    <div class="card rounded-0 border-0 mb-3">
        <div class="card-body text-center">
            <h1 class="card-title text-uppercase font-weight-bold" id="our_work" data-aos="fade-up" data-aos-duration="1500">Our Work</h1>
            <p class="card-text lead" data-aos="fade-up" data-aos-duration="1500">We are proud of what we do</p>
            <div class="row">
                <div class="col-sm-12 col-md-4" data-aos="zoom-in-right" data-aos-duration="1500">
                    <button type="button" class="btn btn-link m-2 shadow p-0" data-toggle="modal" data-target="#videModal" title="play video" data-src="@Url.Content("~/videos/Ohmyglasswithlogo.mp4")">
                        <div class="d-flex h-100 position-absolute justify-content-center">
                            <div class="m-2">
                                <i class="far fa-play-circle" style="font-size:3rem;"></i>
                            </div>
                        </div>
                        <img class="w-100 rounded" src="@Url.Content("~/img/glassreplacement2.jpg")" alt="">
                    </button>
                </div>
                <div class="col-sm-12 col-md-4" data-aos="zoom-in-left" data-aos-duration="1500">
                    <button type="button" class="btn btn-link m-2 shadow p-0" data-toggle="modal" data-target="#videModal" title="play video" data-src="@Url.Content("~/videos/omglasshouse.mp4")">
                        <div class="d-flex h-100 position-absolute justify-content-center">
                            <div class="m-2">
                                <i class="far fa-play-circle" style="font-size:3rem;"></i>
                            </div>
                        </div>
                        <img class="w-100 rounded" src="@Url.Content("~/img/glassreplacement1.jpg")" alt="">
                    </button>
                </div>
                <div class="col-sm-12 col-md-4" data-aos="zoom-in" data-aos-duration="1500">
                    <button type="button" class="btn btn-link m-2 shadow p-0" data-toggle="modal" data-target="#videModal" title="play video" data-src="@Url.Content("~/videos/caulkingohmyglass.mp4")">
                        <div class="d-flex h-100 position-absolute justify-content-center">
                            <div class="m-2">
                                <i class="far fa-play-circle" style="font-size:3rem;"></i>
                            </div>
                        </div>
                        <img class="w-100 rounded" src="@Url.Content("~/img/caulking.jpg")" alt="">
                    </button>
                </div>
                <div class="col-12" data-aos="zoom-in" data-aos-duration="1500">
                    <a class="btn btn-link" href="@Url.Content("~/Showcase")" title="Check out more"><h5 class="mt-3">View More</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade " id="videModal" tabindex="-1" role="dialog" aria-labelledby="videModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-full-width bg-black">
    <div class="modal-content modal-content-full-width text-white bg-black ">
      <div class="modal-header border-0 text-white bg-black ">
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body border-0">
        <div class="d-flex justify-content-center">
            <video style="max-width: calc(100vw - 100px);" class="modal-video" autoplay>
            <source class="modal-video-src" src="#" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light p-5" data-aos="zoom-in" data-aos-duration="1500">
    <div class="card rounded-0 border-0 mb-3">
        <div class="card-body bg-light text-center">
            <h3 class="card-title text-uppercase font-weight-bold">FOLLOW US</h3>
            <p class="card-text lead">You can connect with us on social media</p>
            <div class="text-center mb-auto">
              <a class="btn btn-link" href="http://fb.ohmyglass.ca">
              <i class="fab fa-facebook" style="font-size:4rem;"></i> 
              <span class="d-block">
              fb.ohmyglass.ca
              </span> 
              </a>
              <a class="btn btn-link" href="http://insta.ohmyglass.ca">
              <i class="fab fa-instagram text-danger" style="font-size:4rem;"></i>
               <span class="d-block">
              insta.ohmyglass.ca
              </span> 
              </a>
        </div>
        </div>
    </div>
</div>