@page
@model ServicesModel
@{
    ViewBag.Title = "Services";
}
<section class="services">
    <div class="card border-0 rounded-0 bg-dark text-white">
        <img src="@Url.Content("~/img/windows-door-bg.jpg")" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-white text-center mt-3 mx-2">Windows and Doors Glass Replacement</h1>
                <p class="card-text lead text-center bg-trans1 p-3 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non mollis tortor, eu luctus mauris. Sed et velit sed urna volutpat imperdiet nec eget neque. Ut eget sodales risus. Maecenas sem tellus, pharetra vitae volutpat id, pharetra id neque. Ut tempor sollicitudin velit, nec luctus turpis molestie ut. Phasellus iaculis purus eu maximus tempor. Mauris a sem mauris.</p>
            </div>
        </div>
    </div>
    <div class="card border-0 rounded-0 bg-dark text-white">
        <img src="@Url.Content("~/img/storefront-bg.jpg")" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-white text-center mt-3 mx-2">Storefront Glass Installation and Replacement</h1>
                <p class="card-text lead text-center bg-trans1 p-3 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non mollis tortor, eu luctus mauris. Sed et velit sed urna volutpat imperdiet nec eget neque. Ut eget sodales risus. Maecenas sem tellus, pharetra vitae volutpat id, pharetra id neque. Ut tempor sollicitudin velit, nec luctus turpis molestie ut. Phasellus iaculis purus eu maximus tempor. Mauris a sem mauris.</p>
            </div>
        </div>
    </div>
    <div class="card border-0 rounded-0 bg-dark text-white">
        <img src="@Url.Content("~/img/shower-bg.jpg")" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-white text-center mt-3 mx-2">Shower Glass Installation and Replacement</h1>
                <p class="card-text lead text-center bg-trans1 p-3 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non mollis tortor, eu luctus mauris. Sed et velit sed urna volutpat imperdiet nec eget neque. Ut eget sodales risus. Maecenas sem tellus, pharetra vitae volutpat id, pharetra id neque. Ut tempor sollicitudin velit, nec luctus turpis molestie ut. Phasellus iaculis purus eu maximus tempor. Mauris a sem mauris.</p>
            </div>
        </div>    
    </div>
    <div class="card border-0 rounded-0 bg-dark text-white">
        <img src="@Url.Content("~/img/porch-bg.jpg")" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-white text-center mt-3 mx-2">Porch Enclosure</h1>
                <p class="card-text lead text-center bg-trans1 p-3 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non mollis tortor, eu luctus mauris. Sed et velit sed urna volutpat imperdiet nec eget neque. Ut eget sodales risus. Maecenas sem tellus, pharetra vitae volutpat id, pharetra id neque. Ut tempor sollicitudin velit, nec luctus turpis molestie ut. Phasellus iaculis purus eu maximus tempor. Mauris a sem mauris.</p>
            </div>
        </div>  
    </div>
    <div class="card border-0 rounded-0 bg-dark text-white">
        <img src="@Url.Content("~/img/partition-bg.jpg")" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-white text-center mt-3 mx-2">Custom Glass Partition</h1>
                <p class="card-text lead text-center bg-trans1 p-3 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non mollis tortor, eu luctus mauris. Sed et velit sed urna volutpat imperdiet nec eget neque. Ut eget sodales risus. Maecenas sem tellus, pharetra vitae volutpat id, pharetra id neque. Ut tempor sollicitudin velit, nec luctus turpis molestie ut. Phasellus iaculis purus eu maximus tempor. Mauris a sem mauris.</p>
            </div>
        </div>
    </div>
</section>

<div class="fixed-bottom mb-5 mr-5" style="right:0">
        <button class="btn-floating-cta btn btn-lg px-4 text-uppercase text-white float-right">
            <div class="text-center">
                <i class="far fa-calendar-check"></i>
                <span class="d-block" style="font-size: .7rem;">Book Now</span>
            </div>
        </button>
</div>