@page
@model ServicesModel
@{
    ViewBag.Title = "Services";
}
<div class="container">
  <h1 class="my-5 text-center w-100">All Services</h1>
  <section class="card-columns m-2">
    <div class="card">
      <img src="@Url.Content("~/img/windows-door-bg.jpg")" class="card-img" alt="...">
      <div class="card-img-overlay">
      <h5 class="card-title text-white">Windows and Doors</h5>
      <a href="#" class="btn btn-link text-dark stretched-link"></a>
    </div>
    </div>
    <div class="card">
      <img src="@Url.Content("~/img/storefront-bg.jpg")" class="card-img" alt="...">
      <div class="card-img-overlay">
      <h5 class="card-title text-white">Storefront</h5>
    </div>
    </div>
      <div class="card">
      <img src="@Url.Content("~/img/shower-bg.jpg")" class="card-img" alt="...">
      <div class="card-img-overlay">
      <h5 class="card-title text-white">Shower</h5>
    </div>
    </div>
    <div class="card">
      <img src="@Url.Content("~/img/porch-bg.jpg")" class="card-img" alt="...">
  <div class="card-img-overlay">
      <h5 class="card-title text-white">Porch Enclosure</h5>
    </div>
    </div>
      <div class="card">
      <img src="@Url.Content("~/img/partition-bg.jpg")" class="card-img" alt="...">
      <div class="card-img-overlay">
      <h5 class="card-title text-white">Custom Glass Partition</h5>
    </div>
    </div>
  </section>
</div>
<div class="fixed-bottom mb-5 mr-5" style="right:0">
        <button class="btn-floating-cta btn btn-lg px-4 text-uppercase text-white float-right">
            <div class="text-center">
                <i class="far fa-calendar-check"></i>
                <span class="d-block" style="font-size: .7rem;">Book Now</span>
            </div>
        </button>
</div>